<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.second">

    <!-- naver app을 통한 인증을 위해 필요한 permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- network 상태를 미리 체크하여 연결 안된 경우 다이얼로그를 보여주려면 아래 permission 추가 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- android test 돌릴 때 화면 lock 풀어야 로그인 touch 가능 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.samsung.android.icon_container.has_icon_container" android:value="true"/>
                <activity
                    android:name=".SplashActivity"
                    android:theme = "@style/SplashTheme"
                    android:screenOrientation="portrait"

                 >
                    <intent-filter>
                        <action android:name="android.intent.action.MAIN" />
                        <category android:name="android.intent.category.LAUNCHER" />
                    </intent-filter>
                </activity>

        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".LocationActivity" />
        <activity android:name=".PickChineseMenuActivity" />
        <activity android:name=".PickCuisineActivity" />
        <activity android:name=".PickKoreanMenuActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".KoreanNoodleActivity" />
        <activity android:name=".StoreInfoActivity" />

    </application>

</manifest>